[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-cors = "==4.0.1"
sqlalchemy = "==2.0.35"
mysql-connector-python = "==9.0.0"
python-dotenv = "==1.0.1"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.12"
